/* Error: Sass variables aren't allowed in plain CSS.
 *    ,
 * 81 |       $delay: 0.3s;
 *    |       ^^^^^^
 *    '
 *   style.css 81:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Sass variables aren't allowed in plain CSS.\a    \2577 \a 81 \2502        $delay: 0.3s;\d\a    \2502        ^^^^^^\a    \2575 \a   style.css 81:7  root stylesheet";
}
